<!DOCTYPE html>
<html> 
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% if(userFullName) { %>
        <h1>Hola <%= userFullName  %></h1>
        <a href="/signout">Cerrar Sesión</a>
        <% } else { %>
        <a href="/signup">Crear Cuenta</a>
        <a href="/signin">Entrar</a>
        <%  }  %>

        <br/>

        <section ng-view></section>

        <!-- SCRIPTS -->
        <script src="/lib/angular/angular.js" type="text/javascript"></script>
        <script src="/lib/angular-route/angular-route.js" type="text/javascript"></script>

        <script src="/application.js" type="text/javascript"></script>
        <script src="/examples/example.client.module.js" type="text/javascript"></script>
        <script src="/examples/controllers/example.client.controller.js" type="text/javascript"></script>
        <script src="/examples/config/example.client.routes.js" type="text/javascript"></script>

    </body>
</html>
