<!DOCTYPE html>
<html> 
    <head>
        <title><%= title %></title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <section ng-controller="IndexController">
            <div data-ng-show="!user">
                <a href="/signup">Crear Cuenta</a>
                <a href="/signin">Identificarse</a>
            </div>
            <div data-ng-show="user">
                <a class="pull-right" href="/signout">Cerrar Sesión</a>
                <h1>Hola <span>{{user.nombre}} {{user.apellidos}}</span></h1>
                <ul>
                    <li><a href="/#!/apuntes">Apuntes</a></li>
                </ul>
            </div>
        </section> 

        <section ng-view></section>

        <script type="text/javascript">
            window.user = <%- user || 'null' %> ;</script>

        <!-- SCRIPTS -->

        <!-- LIBRARYS -->
        <script src="/lib/angular/angular.js" type="text/javascript"></script>
        <script src="/lib/angular-route/angular-route.js" type="text/javascript"></script>
        <script src="/lib/angular-resource/angular-resource.js" type="text/javascript"></script>

        <!-- My ANGULAR MODULES -->
        <script src="/lib/myLib.js" type="text/javascript"></script>
        <script src="/application.js" type="text/javascript"></script>


        <script src="/modules/index.client.module.js" type="text/javascript"></script>
        <script src="/modules/apuntes.client.module.js" type="text/javascript"></script>
    </body>
</html>
