<!DOCTYPE html>
<html> 
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <section ng-view></section>
        <script type="text/javascript">
            window.user = <%- user || 'null' %> ;</script>

        <!-- SCRIPTS -->
        <script src="/lib/angular/angular.js" type="text/javascript"></script>
        <script src="/lib/angular-route/angular-route.js" type="text/javascript"></script>
        <script src="/lib/angular-resource/angular-resource.js" type="text/javascript"></script>

        <script src="/application.js" type="text/javascript"></script>

        <script src="/examples/example.client.module.js" type="text/javascript"></script>
        <script src="/examples/controllers/example.client.controller.js" type="text/javascript"></script>
        <script src="/examples/config/example.client.routes.js" type="text/javascript"></script>

        <script src="/users/users.client.module.js" type="text/javascript"></script>
        <script src="/users/services/authentication.client.service.js" type="text/javascript"></script>


        <script src="/apuntes/apuntes.client.module.js" type="text/javascript"></script>
        <script src="/apuntes/controllers/apuntes.client.controller.js" type="text/javascript"></script>
        <script src="/apuntes/config/apuntes.client.routes.js" type="text/javascript"></script>
        <script src="/apuntes/services/apuntes.client.service.js" type="text/javascript"></script>



    </body>
</html>
