<section data-ng-controller="ApuntesController" data-ng-init="findOne()">
    <h1> 
        <span data-ng-bind="obj.titulo"></span> 
        <small>
            (<em data-ng-bind="obj.createdOn"></em>)
        </small>
    </h1>    
    <p data-ng-bind="obj.descripcion"></p>
    <pre data-ng-bind="obj | json"></pre>
    <div>
        <a href="/#!/apuntes/">Lista</a>
        <a href="/#!/apuntes/{{obj._id}}/edit">Editar</a>
        <a href="/#" data-ng-click="delete();">Borrar</a>
    </div>

</section>
