<section data-ng-init="findOne();">
    <h1>Editar {{params.nameSingular}}</h1>


<!--     probar form 
    <form>
        <formly-form model="obj" fields="formFields" options="formOptions">
        </formly-form>
    </form>-->



    <form data-ng-submit="update()" novalidate>
        <div>
            <div>
                <input type="text" data-ng-model="obj.titulo" id="titulo" placeholder="Titulo" required>
            </div>
        </div>

        <div>
            <div>
                <input type="text" data-ng-model="obj.descripcion" id="descripcion" placeholder="Descripción" required>
            </div>
        </div>

        <div data-ng-show="'{{params.name}}' == 'Apuntes'" >
            <label for="categoriaApunte">Categoría</label>
            <select ng-options="cat._id as cat.titulo for cat in cats"  ng-model="obj.idCategoriaApunte" id="categoriaApunte" data-ng-init="findCategorias()">
            </select>
        </div>

        <div>
            <input type="submit" value="Actualizar">
        </div>

        <!-- MENSAJE DE ERROR -->
        <div data-ng-show="error" >
            <strong data-ng-bind="error"></strong>
        </div>


        <div>
            <a href="/#!/{{params.path}}/">Lista</a>
            <a href="/#!/" data-ng-click="delete();">Borrar</a>
        </div>

        <div data-ng-show="'{{params.name}}' == 'Categorías'" >
            <hr/>
            <ul data-ng-init="findApuntes()">
                <li ng-repeat="apunte in apuntes">{{apunte.titulo}}</li>
            </ul>
        </div>

    </form>
</section>