<section data-ng-init="initView();">
    <h1>{{view}} {{params.nameSingular}}</h1>


    <!--probar form--> 
    <form name="editForm" ng-submit="editForm.$valid && action();">
        <formly-form  model="obj" fields="editFields">
        </formly-form>

        <br/>

        <div>
            <a class="btn btn-default" href="/#!/{{params.path}}/">Lista</a>
            <a class="btn btn-danger" href="/#!/" data-ng-click="delete();">Borrar</a>

            <input class="btn btn-default" type="submit" value="Guardar">
        </div>

        <!-- MENSAJE DE ERROR -->
        <div data-ng-show="error" >
            <strong data-ng-bind="error"></strong>
        </div>

    </form>

    <div data-ng-show="'{{params.name}}' == 'Categorías'" >
        <hr/>
        <ul data-ng-init="findApuntes()">
            <li ng-repeat="apunte in apuntes">{{apunte.titulo}}</li>
        </ul>
    </div>

    <pre>{{obj|json}}</pre>

</section>