<section data-ng-init="findOne();">
    <h1>Editar {{params.nameSingular}}</h1>


    <!--probar form--> 
    <form ng-submit="update()">
        <formly-form model="obj" fields="editFields">
        </formly-form>


        <div data-ng-show="'{{params.name}}' == 'Apuntes'" >
            <label for="categoriaApunte">Categoría</label>
            <select ng-options="cat._id as cat.titulo for cat in cats"  ng-model="obj.idCategoriaApunte" id="categoriaApunte" data-ng-init="findCategorias()">
            </select>
        </div>

        <br/>
        
        <div>
            <a class="btn btn-default" href="/#!/{{params.path}}/">Lista</a>
            <a class="btn btn-default" href="/#!/" data-ng-click="delete();">Borrar</a>

            <input class="btn btn-default" type="submit" value="Actualizar">
        </div>

        <!-- MENSAJE DE ERROR -->
        <div data-ng-show="error" >
            <strong data-ng-bind="error"></strong>
        </div>

    </form>

    <div data-ng-show="'{{params.name}}' == 'Categorías'" >
        <hr/>
        <ul data-ng-init="findApuntes()">
            <li ng-repeat="apunte in apuntes">{{apunte.titulo}}</li>
        </ul>
    </div>

</section>