<section data-ng-controller="ApuntesController" data-ng-init="findOne()">
    <h1>Editar Apunte</h1>
    <form data-ng-submit="update()" novalidate>
        <div>
            <label for="titulo">Titulo</label>
            <div>
                <input type="text" data-ng-model="apunte.titulo" id="titulo" placeholder="Titulo" required>
            </div>
        </div>

        <div>
            <label for="descripcion">Descripción</label>
            <div>
                <input type="text" data-ng-model="apunte.descripcion" id="descripcion" placeholder="Descripción" required>
            </div>
        </div>
        <div>
            <input type="submit" value="Actualizar">
        </div>

        <!-- MENSAJE DE ERROR -->
        <div data-ng-show="error" >
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>