<section ng-init="find()">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!--        <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                </div>-->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="field in listFields">{{field.title}} </th>
                    <th>
                        <input type="radio"
                               ng-model="$parent.idCategoriaSelected"
                               value="0"
                               name="idCategoriaSelected"
                               ng-change="findApuntes()">
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in objs">
                    <th>           
                        <a data-ng-href="#!/{{path}}/{{obj._id}}">{{$index}}</a>
                    </th>
                    <td ng-repeat="field in listFields">
                        {{obj[field.key]}}
                    </td>
                    <td>
                        <input type="radio"
                               ng-model="$parent.idCategoriaSelected"
                               value="{{obj._id}}"
                               name="idCategoriaSelected"
                               ng-change="findApuntes()">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-ng-hide="!objs || objs.length">
        Aún no hay {{name}}
    </div>

    <a class="btn btn-success" href="#!/{{path}}/crear">Añadir</a>

    <yield content_for="extra">

</section>