<section ng-init="find()">

    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="ini" 
                       is-open="opened"  datepicker-options="dateOptions" close-text="Cerrar"
                       ng-change="find()" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="fin" 
                       is-open="opened"  datepicker-options="dateOptions" close-text="Cerrar" 
                       ng-change="find()" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

<!--    <ng-layout src="views/list.client.view.html">
    </ng-layout>-->
    
    <hr/>
    <div class="gridStyle" ng-grid="gridOptionsCategorias"></div>
    <hr/>
    <div ng-show="apuntesFilter.length" class="gridStyle" ng-grid="gridOptions"></div>
</section>
