<section ng-init="find()">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!--        <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                </div>-->

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="field in listFields">{{field.title}} </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{active: itemSel == obj._id}" class="clickable" ng-repeat="obj in objs" ng-click="changeSel(obj._id)">
                    <th>           
                        <a data-ng-href="#!/{{path}}/{{obj._id}}">{{$index}}</a>
                    </th>
                    <td ng-repeat="field in listFields">
                        {{obj[field.key]}}
                    </td>
                </tr>
             </tbody>
        </table>
    </div>

    <div data-ng-hide="!objs || objs.length">
        Aún no hay {{name}}
    </div>

    <a class="btn btn-success" href="#!/{{path}}/crear">Añadir</a>

    <yield content_for="extra">

</section>